.mainInicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: linear-gradient(90deg, #04252c, rgb(9, 9, 196), #04252c);

    .containerPrimerTexto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        position: relative;
        overflow: hidden;

        video {
            display: flex;
            filter: blur(10px);
            padding-bottom: 100px;
        }

        h1 {
            top: 30px;
            position: absolute;
            display: flex;
            justify-content: center;
            font-family: "Anton SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 31px;
            color: aliceblue;
            z-index: 1;
        }

        p {
            display: flex;
            padding: 30px;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: aliceblue;
            font-size: 25px;
            position: absolute;
            top: 150px;
            z-index: 1;
        }
    }

    .pecesPopulares {
        display: flex;
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 1px;

        h2 {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            color: aliceblue;
            width: 100%;
            font-family: "Anton SC", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .containerTarjetas {
            display: flex;
            width: 100%;
            height: 100%;
            gap: 30px;
            overflow: scroll;
            scrollbar-width: none;

            .tarjetas {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 100%;
                height: 100%;
                position: relative;

                figure {
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 500px;
                        height: 500px;
                    }

                }

                p {
                    bottom: 80px;
                    padding: 10px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: aliceblue;
                    background: linear-gradient(90deg, rgba(0, 128, 0, 0.739), rgba(0, 0, 255, 0.789), rgba(0, 128, 0, 0.789));
                    position: absolute;
                }
            }
        }

    }

    .videoIntrudcutorio-cotainer {
        width: 100%;
        height: 100%;
        margin-bottom: 80px;

        h2 {
            display: flex;
            justify-content: center;
            color: aliceblue;
            width: 100%;
            font-family: "Anton SC", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .armadoAcuario-facil {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            iframe {
                padding-left: 10px;
                padding-right: 10px;
            }

            p {
                padding: 10px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: aliceblue;
                font-size: 18px;
            }

            a {
                text-decoration: none;
                animation: cambiosDecolorLinks 5s infinite alternate;
            }
        }

        .armadoAcuario-dificil {
            display: flex;
            flex-direction: column;
            margin-top: 60px;

            iframe {
                padding-left: 10px;
                padding-right: 10px;
            }

            p {
                padding: 10px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: aliceblue;
                font-size: 18px;
            }

            a {
                text-decoration: none;
                animation: cambiosDecolorLinks 5s infinite alternate;
            }
        }

        
    }

    


}